<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #F1F5F7;"></span>
		<span class="sg-label">$off-white</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #171717;"></span>
		<span class="sg-label">$off-black</span>
	</li>
</ul>