<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">Parent</a></li>
    <li><a href="#">Child</a></li>
    <li>
      <span class="show-for-sr">Current: </span> Child
    </li>
  </ul>
</nav>

