{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}

<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Wellness App for Sleep Disturbance in Hematological Cancer Patients</h1>
        <p><a href="#" class="button">Now Enrolling</a></p>
      </div>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <h2>Principal Investigators</h2>
        <div class="grid-x grid-margin-x align-top">
          <div class="cell small-12 medium-3 large-2">
            <img src="../../images/ruben-mesa.jpg" class="margin-bottom" alt="Ruben Mesa, MD, FACP">
          </div>
          <p></p>
          <div class="cell small-12 medium-9 large-10">
            <p><strong><a href="#">Ruben Mesa, MD, FACP</a></strong>, is the vice dean for cancer programs at Wake Forest University School of Medicine and executive director of the Atrium Health Wake Forest Baptist Comprehensive Cancer Center. He is an internationally known expert who has dedicated his career to research and drug development for blood cancers and disorders.</p>
          </div>
        </div>
        <div class="grid-x grid-margin-x align-top">
          <div class="cell small-12 medium-3 large-2">
            <img src="../../images/jen-huberty.jpg" class="margin-bottom" alt="Jen Huberty, PhD">
          </div>
          <div class="cell small-12 medium-9 large-10">
            <p><strong><a href="#">Jen Huberty, PhD</a></strong>, is an accomplished behavior research scientist with over 20 years of experience leading academic and industry-based science using digital approaches to change behavior and improve well-being.</p>
          </div>
        </div>
        <h2>Co-Investigators</h2>
        <div class="grid-x grid-margin-x align-top">
          <div class="cell small-12 medium-3 large-2">
            <img src="../../images/supreet_kaut.jpg" class="margin-bottom" alt="Supreet Kaur, MD">
          </div>
          <div class="cell small-12 medium-9 large-10">
            <p><strong><a href="#">Supreet Kaur, MD</a></strong> is a hematologist oncologist at the Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center. Her current research interests include clinical biomarkers in cancer and therapeutics. She serves as principal investigator and co-investigator in several clinical trials, including SWOG cooperative group studies.</p>
          </div>
        </div>
        <h2>About this study</h2>
        <p>This trial aims to study the effectiveness of two different wellness-based mobile apps on blood cancer patient outcomes, including sleep, fatigue, anxiety, depression, and blood biomarkers of inflammation (TNF-a, IL-6, IL-8, CRP). The findings of this study may help physicians and researchers better understand how mobile wellness apps can help manage symptom burden and inflammation in blood cancer patients.</p>
        <h2>Participation eligibility</h2>
        <p>Participant eligibility includes age, cancer diagnosis, treatment status and more. See below for a complete list of all eligibility criteria that is required for participation in this trial.</p>
        <h3>Inclusion Criteria:</h3>
        <ul>
          <li>Self-declared diagnosis of hematological cancer on stable maintenance management by treating physician (i.e., on stable medical therapy) or observation (i.e., no changes in disease-targeted medications for the past two weeks)</li>
          <li>Not currently participating in a therapeutic pharmacologic clinical trial</li>
          <li>Not planning to receive an allogeneic stem cell transplantation during the study time frame (i.e., 20 weeks)</li>
          <li>A score of greater than five on the PSQI (Pittsburgh Sleep Quality Index)</li>
          <li>Own a mobile smartphone (iPhone with iOS 14 or later or an Android 6 or later) with an active data or WiFi connection</li>
          <li>Willing to download two mobile apps</li>
          <li>Able to read and understand English</li>
          <li>18 years of age or older</li>
          <li>Willing to be randomized</li>
          <li>Willing to drive to a nearby lab for blood draws three times during the study over 20 weeks (8-week intervention period followed by 12-week follow-up period)</li>
          <li>Taking sleep medications or over-the-counter sleep medications and supplements (if any) on fewer than three nights per week and one of the following:
            <ul>
              <li>Willing to maintain the same intake without change throughout the study time frame (i.e., 20 weeks) or;</li>
              <li>Willing to discontinue if intake is prescribed "as needed" (PRN) by a physician throughout the study time frame (i.e., 20 weeks)</li>
            </ul>
          </li>
        </ul>
        <h3>Exclusion Criteria</h3>
        <ul>
          <li>Self-report meditation practice or meditative movement practice (i.e., yoga, tai chi, qi gong) of more than 60 minutes a week in the past two months</li>
          <li>Reside outside of the United States</li>
          <li>Any planned change to a new pharmacologic therapy (i.e., new drug) for the treatment of their cancer diagnosis (excluding dose changes)</li>
          <li>Diagnosed with a sleep disorder except for insomnia</li>
          <li>Taking prescribed sleep medications or over-the-counter sleep medications or supplements (including drugs like NyQuil, Benadryl and other antihistamine-based drugs) more than three nights per week</li>
          <li>Any other diagnosed and uncontrolled medical or psychiatric condition</li>
          <li>Has a pacemaker</li>
          <li>Shift work schedule</li>
        </ul>
      </main>
      <aside class="small-12 medium-4 large-4 cell">
            <div class="title-bar" data-responsive-toggle="subnav" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
        <div class="title-bar-title">Section Navigation</div>
      </div>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <div class="subnav-title">Clinical Trials and Research</div>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
      </ul>    
      </aside>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell callout spotlight spotlight-left orange medium-6 large-7 small-12 small-order-1 medium-order-1 large-order-1">
         <h2>Find out if you are eligible</h2>
				<p>We will ask you some brief screening questions to determine whether you are eligible to participate. Some of the information collected will include name, age, contact information, cancer diagnosis and any ongoing treatment, current mental and physical health status and sleep habits. This survey should take only 5-10 minutes to complete.</p>
        <div class="button-group">
    <p><a href="#" class="button outlined">Find out if you are eligible</a></p>
    <p><a href="#" class="button white">Take the survey</a></p>
</div>
      </div>

      <div class="cell medium-6 large-6 small-12 small-order-2 medium-order-2 large-order-2 img-spotlight">
        <img src="../../images/appointments.jpg" alt="a patient and doctor talking">
      </div>
    </div>
  </div>
</section>

{% include "@blocks/cards/scrolling-card-panel.twig" %}
{% include "@blocks/footer/default-footer-cancer-center.twig" %}