<div class="grid-container">
  <div class="grid-x">
    <div class="cell large-12">
      <!-- MODAL LINK-->
      <p><a data-open="exampleModal1">Click me for a modal</a></p>
      <!-- MODAL CONTENTS-->
      <div class="reveal" id="exampleModal1" aria-labelledby="exampleModalHeader1" data-reveal>
        <h1 id="exampleModalHeader1">I'm a default modal</h1>
        <p class="lead">Tea Ipsum</p>
        <p>Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion!</p>
        <butt class="close-button" data-close aria-label="Close reveal" type="button">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
    </div>
  </div>
</div>
