<div class="top-bar" id="main-nav">
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="megamenu-parent"><a>FIND CARE</a>
        <div class="megamenu" id="find-care-menu">
          <div class="grid-x">
            <div class="cell small-12 medium-auto large-auto">
              <p class="bold">FIND CARE LINKS</p>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell small-12 medium-4 large-3">
              <ul>
                <li><a>Find a Provider</a></li>
                <li><a>MyChart</a></li>
                <li><a>Locations</a></li>
                <li><a>UT Health Physicians</a></li>
                <li><a>UT Health Dentistry</a></li>
                <li><a>UT Health San Antonio MD Anderson Cancer Center</a></li>
                <li><a>Wellness 360</a></li>
              </ul>
            </div>
            <div class="cell small-12 medium-4 large-3">
            </div>
            <div class="cell small-12 medium-4 large-6">
              <div class="grid-x align-center-middle">
                <div class="small-12 medium-12 large-3">
                  <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="small-12 medium-12 large-6">
                  <h3>Our Location:</h3>
                  <address>
                    <p>7703 Floyd Curl Drive<br>
                    San Antonio, TX 78229-3900<br>
                  </address>
                  <p><a class="button white outlined">Find a Location</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="megamenu-parent"><a>ABOUT US</a>
        <div class="megamenu" id="about-us-menu">
          <div class="grid-x">
            <div class="cell small-12 medium-auto large-auto">
              <p class="bold">ABOUT US LINKS</p>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell small-12 medium-4 large-3">
              <ul>
                <li><a>About UT Health San Antonio</a></li>
                <li><a>News and Stories</a></li>
                <li><a>Events</a></li>
                <li><a>Careers</a></li>
                <li><a>Academics and Education</a></li>
                <li><a>Research</a></li>
                <li><a>Contact Us</a></li>
              </ul>
            </div>
            <div class="cell small-12 medium-4 large-3">
            </div>
            <div class="cell small-12 medium-4 large-6">
              <div class="grid-x align-center-middle">
                <div class="small-12 medium-12 large-3">
                  <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="small-12 medium-12 large-6">
                  <h3>Our Location:</h3>
                  <address>
                    <p>7703 Floyd Curl Drive<br>
                    San Antonio, TX 78229-3900<br>
                  </address>
                  <p><a class="button white outlined">Find a Location</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="megamenu-parent"><a>HOW TO HELP</a>
        <div class="megamenu" id="how-to-help-menu">
          <div class="grid-x">
            <div class="cell small-12 medium-auto large-auto">
              <p class="bold">HOW TO HELP LINKS</p>
            </div>
          </div>
          <div class="grid-x">
            <div class="cell small-12 medium-4 large-3">
              <ul>
                <li><a>COVID-19 Information</a></li>
                <li><a>Give</a></li>
                <li><a>Volunteer</a></li>
                <li><a>Clinical Trials and Research</a></li>
                <li><a>Support UT Health San Antonio</a></li>
              </ul>
            </div>
            <div class="cell small-12 medium-4 large-3">
            </div>
            <div class="cell small-12 medium-4 large-6">
              <div class="grid-x align-center-middle">
                <div class="small-12 medium-12 large-3">
                  <span class="fa-stack fa-3x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="small-12 medium-12 large-6">
                  <h3>Our Location:</h3>
                  <address>
                    <p>7703 Floyd Curl Drive<br>
                    San Antonio, TX 78229-3900<br>
                  </address>
                  <p><a class="button white outlined">Find a Location</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>