{% include "@components/header/header.twig" %}
{% include "@components/navigation/main-nav.twig" %}
<section class="hero bleed img-fill overlay">
  <img src="../../images/about-us-banner.jpg" alt="sculpture">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-middle">
      <div class="cell medium-7 small-12 text-center">
        <div class="hero callout">
          <h1>About Us</h2>
            <p><a href="#" class="button outlined">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <h2>Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <h2>Core Values</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p><a href="#" class="button">How We Make Lives Better</a></p>
      </main>
      <aside class="small-12 medium-4 large-4 cell">
        <a class="callout">
          <h4 class="ruled">Careers</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
        <a class="callout">
          <h4 class="ruled">Giving & Donate</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </aside>
    </div>
  </div>
</section>
<section class="bleed beige roomy">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-5 small-12 small-order-1 large-order-1 align-self-middle">
        <h2>Our Leadership</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p><a href="#" class="button">Meet our team</a></p>
      </div>
      <div class="cell medium-4 small-12 small-order-2 large-order-2">
        <img src="../../images/leadership.jpg" alt="Leaders">
      </div>
    </div>
  </div>
</section>
<section class="bleed roomy">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-6 large-6 small-order-2 large-order-1">
        <img src="../../images/patient-care.jpg" alt="Inside Building">
      </div>
      <div class="cell medium-6 large-6 small-order-1 large-order-2">
        <h2>Patient Care & Academics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <div class="arrow-right">
          <ul>
            <li><a href="#">Academics & Training</a></li>
            <li><a href="#">Care Delivery</a> </li>
            <li><a href="#">Professional Practice</a></li>
            <li><a href="#">Healing Arts</a></li>
            <li><a href="#">Virtual Nursing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed color orange">
  <div class="grid-container ">
    <div class="grid-x grid-margin-x align-spaced">
      <div class="cell small-12 medium-4 large-4 align-self-middle text-center">
        <i class="fas fa-envelope fa-10x"></i>
      </div>
      <div class="cell small-12 medium-4 large-4 align-self-middle">
        <h2>Get Connected</h2>
        <p>Sign up to recieve updates from us.</p>
      </div>
      <div class="cell small-12 medium-4 large-4 align-self-middle">
        <p><a href="#" class="button outlined">Subscribe Now</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@blocks/footer/default-footer.twig" %}