<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-12 large-12">
				<p class="margin-bottom text-left">I am left-aligned text.
				</p>
				<p class="margin-bottom text-right">I am right-aligned text.
				</p>
				<p class="margin-bottom text-center">I am center-aligned text.
				</p>
				<p class="margin-bottom text-justify"><strong>I am text-justified.</strong> Rize bai mudan taro steep
					irish breakfast honeydew infusion ginger bai mudan hong yixing irish breakfast white steep mug boba
					hojicha. Chamomile jasmine kombucha taro sachet lychee bai mudan loose leaf tisane bai mudan lapsang
					souchong steep kukicha. Fair trade loose leaf bamboo whisk orange pekoe hong kong-style milk hong
					kong-style milk honeydew keemun mint orange pekoe antioxidant pu’erh orange pekoe.
				</p>
			</div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-12 large-12 ">
				<p>
					<strong>More details can be found in <a
							href="https://get.foundation/sites/docs/typography-helpers.html">Foundation 6 Typography
							Helper Classes
							documentation</a>.</strong>
				</p>
			</div>
		</div>
	</div>
</section>