<div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle">
        <div class="cell small-12 medium-6 large-8">
            <blockquote>
                <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within another element like a bleed.</p>
                <cite><a href="#">Obi-Wan Kenobi, Jedi Master</a></cite>
            </blockquote>
        </div>
        <div class="cell small-12 medium-4 large-3">
            <img src="http://placekitten.com/300/400" alt="kitty">
        </div>
    </div>
</div>
