{% include "@components/header/header.twig" %}
{% include "@components/navigation/main-nav.twig" %}
<section class=" hero full bleed img-fill video">
    <div class="responsive-embed">
        <iframe
            src=https://player.vimeo.com/video/1018361616?h=84bb8c3d3d&amp;badge=0&amp;loop=1&amp;autopause=0&amp;player_id=0&amp;app_id=58479
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="UT Health San Antonio | Multiscpecialty and Research Hospital Footage | 2024"></iframe>
    </div>
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>The future of medicine is here</h1>
                <p>Welcome to UT Health San Antonio Multispecialty and Research Hospital — a patient and family-centered
                    hospital where care and comfort come first. As the only academic medical center hospital in the
                    region, we are here to offer you the most advanced surgical and cancer treatments, grounded in
                    innovative research.</p>

                <p>At the heart of our hospital is you—your healing, your well-being and your hope. You are not just a
                    patient here; you are a valued member of a dedicated team of expert surgeons and cancer specialists,
                    who are committed to supporting you every step of the way. </p>
                <div class="button-group">
                    <p><a href="#" class="button">Button CTA</a></p>
                    <p><a href="#" class="button outlined">Button CTA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-6 large-5 small-12 small-order-1">
        <h2>Offering Patients a Caring Experience</h2>
        <p>Tomorrow’s medicine begins today at UT Health San Antonio Multispecialty and Research Hospital.</p>
        <p><strong>Hospital Location:</strong><br>
          Floyd Curl Drive & Wurzbach Road<br>
          San Antonio, Texas 78229-3900</p>
        <div class="loose-list">
          <ul class="no-bullet inline">
            <li>
              <a>
                <span>
                  <i class="fas fa-phone-alt"></i>
                </span>
                <span>210-450-9000</span>
              </a>
            </li>
          </ul>
        </div>
        <p><a href="#" class="button">Maps & Parking Info</a></p>
      </div>
      <div class="cell medium-6 large-4 small-12 small-order-2">
        <img src="../../images/skybridge.jpg" alt="skybridge">
      </div>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-6 large-6 small-12 small-order-2 medium-order-1 large-order-1 img-spotlight">
        <img src="../../images/plan-visit.jpg" alt="Inside Hospital">
      </div>
      <div class="cell callout spotlight beige medium-6 large-7 small-12 small-order-1 medium-order-2 large-order-2">
        <h2>Plan Your First Visit</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <div class="arrow-right">
          <ul>
            <li><a href="#">Preparing for Your Visit</a></li>
            <li><a href="#">Patient Notices & Forms</a></li>
            <li><a href="#">Financial Services & Calculators</a></li>
            <li><a href="#">MyChart Portal</a></li>
          </ul>
        </div>
      </div>
    </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-4 large-4 small-order-2 medium-order-1">
        <img src="../../images/cancer-care-2.jpg" alt="hugging">
      </div>
      <div class="cell medium-5 large-5 small-order-1 medium-order-2">
        <h2>The only NCI-Designated cancer center in South Texas</h2>
        <p>Our commitment to research is part of our mission to advance cancer care for every patient, every day.</p>
        <div class="button-group">
          <p><a href="#" class="button">Mays Cancer Center </a></p>
          <p><a href="#" class="button outlined">Clinical Trials</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bleed color orange">
  <div class="grid-container">
    <div class="grid-x text-center align-center factoids">
      <div class="cells large-4 medium-4 small-12 ">
        <p class="supersize">1000+
          <p>
            <p>Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">144
          <p>
            <p> Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">7th
          <p>
            <p>Optional short description pertaining to the number</p>
      </div>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x grid-padding-y">
      <div class="small-12 medium-6 white cell callout flex-container flex-dir-column">
        <div class="flex-child-auto">
          <h2 class="text-center">News</h2>
          <div class="lines">
            <ul>
              <li><a href="#">Here’s our Covid-19/Thanksgiving Safety Video/Infectious Disease Doctor Tess Barton Speaks
                  Directly to Children </a></li>
              <li><a href="#">Our Department of Pediatrics Reaches out to Schools in Thanksgiving Covid-19 Safety Video
                  to Schools with Dr. Tess Barton, Story Featured in the top of KSAT-12 Newscast</a></li>
              <li><a href="#">The Department of Pediatrics Featured on KSAT-12: Infectious Disease Doctor Tess Barton
                  Gives Halloween/Covid-19 Safety Tips to Schools Skywalker yoda </a></li>
            </ul>
          </div>
        </div>
        <div class="flex-child-shrink">
          <p class="text-center"><a href="#" class="button">View All News</a></p>
        </div>
      </div>
      <div class="small-12 medium-6 white cell callout flex-container flex-dir-column">
        <div class="flex-child-auto">
          <h2 class="text-center">Events</h2>
          {% include "@components/dates/event.twig" %}
          {% include "@components/dates/event.twig" %}
          {% include "@components/dates/event.twig" %}
        </div>
        <div class="flex-child-shrink">
          <p class="text-center"><a href="#" class="button">View All Events</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container">
    <div class="small-12 medium-12 large-12 margin-bottom">
      <h2 class="text-center sans-serif">Patient Stories</h2>
    </div>
    <div class="grid-x grid-margin-x space-around align-center">
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-1.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Lorem ipsum dolor sit amet</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
      </div>
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-2.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Lorem ipsum dolor sit amet</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
      </div>
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-3.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Lorem ipsum dolor sit amet</h5>
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
        </div>
      </div>
    </div>
    <p class="text-center"><a href="#" class="button">View All Stories</a></p>
  </div>
</section>
{% include "@blocks/footer/default-footer.twig" %}