<div class="utsa-bar">
  <p>
    <a href="https://utsa.edu/" aria-label="UT San Antonio homepage">
      <img src="../../images/ut-san-antonio-logo-white.svg" alt="UTSA Logo">
    </a>
  </p>
</div>

<header class="title-bar" id="mobile-header" data-responsive-toggle="header">
  <a href="#"><img src="../../images/mays-cancer-logo.svg" alt="UT Health San Antonio MD Anderson Mays Cancer Center"></a>
  <div class="mobile-icons">
    <a href="#">
      <i class="fas fa-phone"></i>
      <span>Call Us</span>
    </a>
    <a href="#" id="search">
      <i class="fas fa-user"></i>
      <span>MyChart</span>
    </a>
  </div>
  <a href="#top"><button class="menu-icon" type="button" data-toggle="header">Menu</button></a>
</header>

<form class="mobile-search" id="mobile-search">
  <input type="search" class="search-box" placeholder="Search by keyword...">
  <button type="submit">
    <i class="fa fa-search"></i>
  </button>
</form>

<header id="header" class="off-canvas-content" data-off-canvas-content>
  <div class="header-bar">
    <p><a href="https://uthscsa.edu/">UT Health San Antonio</a></p>
    <a href="#" class="donate"><i class="fas fa-user"></i>
      <span>Make an Appointment</span></a>
  </div>

  <div class="group">
    <div class="logo">
      <a href="#"><img src="../../images/mays-cancer-logo.svg" alt="UT Health San Antonio MD Anderson Mays Cancer Center"></a>
    </div>

    <div class="right">
      <a href="#" id="header-nav-item">
        <i class="fas fa-phone-alt"></i>
        <span>(210) 450-1000</span>
      </a>
      <a href="#" id="header-nav-item">
        <span>MyChart</span>
      </a>
      <a href="#" id="header-nav-item">
        <span>Donate</span>
      </a>
      <a href="#" id="header-nav-item">
        <span>Contact</span>
      </a>
      <a href="#" id="searchNav" class="before-click">
        <i class="fas fa-search"></i>
        <span>Search</span>
      </a>

      <form class="desktop-search">
        <input type="search" class="search-box" placeholder="Search by keyword...">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
        <button type="button" id="search-close">
          <i class="fas fa-times"></i>
        </button>
      </form>
    </div>
  </div>

  <nav class="nav-bar" id="nav-bar-mobile">
    <ul class="mobile-nav accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#">DOCTORS &amp; LOCATIONS</a>
        <div class="accordion-content" data-tab-content>
          <ul class="menu vertical">
            <li><a href="#">Find a Doctor</a></li>
            <li><a href="#">Make an Appointment</a></li>
            <li><a href="#">Refer a Patient</a></li>
            <li><a href="#">Find a Location</a></li>
            <li><a href="#">Parking and Transportation</a></li>
            <li><a href="#">Hotels and Accommodations</a></li>
            <li><a href="#">Map and Directions</a></li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#">CANCER CARE</a>
        <div class="accordion-content" data-tab-content>
          <ul class="menu vertical">
            <li><a href="#">Our Cancer Programs</a></li>
            <li><a href="#">Conditions We Treat</a></li>
            <li><a href="#">Cancer Treatments</a></li>
            <li><a href="#">Screening and Diagnosis</a></li>
            <li><a href="#">Cancer Survivorship Program</a></li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#">PATIENTS</a>
        <div class="accordion-content" data-tab-content>
          <ul class="menu vertical">
            <li><a href="#">Prepare for Your Visit</a></li>
            <li><a href="#">Insurance We Accept</a></li>
            <li><a href="#">Medical Records Request</a></li>
            <li><a href="#">Caregiver Support</a></li>
            <li><a href="#">Cancer Health Library</a></li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#">CLINICAL TRIALS &amp; RESEARCH</a>
        <div class="accordion-content" data-tab-content>
          <ul class="menu vertical">
            <li><a href="#">Find a Cancer Clinical Trial</a></li>
            <li><a href="#">Cancer Research Programs</a></li>
            <li><a href="#">Institute for Drug Development</a></li>
            <li><a href="#">Greehey Children&rsquo;s Cancer Research Institute</a></li>
            <li><a href="#">Mays Cancer Center Membership</a></li>
          </ul>
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#">COMMUNITY &amp; EDUCATION</a>
        <div class="accordion-content" data-tab-content>
          <ul class="menu vertical">
            <li><a href="#">Education and Training</a></li>
            <li><a href="#">Cancer Research Training and Career Enhancement Core</a></li>
            <li><a href="#">Breast Oncology Preceptorship</a></li>
            <li><a href="#">Institute for Drug Development Fellowship</a></li>
            <li><a href="#">Cancer Research Internship</a></li>
            <li><a href="#">Postbaccalaureate Fellows Program in Cancer Research</a></li>
            <li><a href="#">Community Outreach and Engagement</a></li>
            <li><a href="#">Message from COE Leadership</a></li>
            <li><a href="#">Our COE Impact</a></li>
            <li><a href="#">COE Community Advisory Board</a></li>
            <li><a href="#">South Texas Cancer Burden and COE Areas of Work</a></li>
            <li><a href="#">COE Publications</a></li>
            <li><a href="#">Avanzando Caminos (Leading Pathways): Hispanic/Latino Cancer Survivorship Study</a></li>
            <li><a href="#">El Estudio de la Supervivencia del C&aacute;ncer en los Hispanos/Latinos (Espa&ntilde;ol)</a></li>
            <li><a href="#">STAR Immunotherapy Study</a></li>
          </ul>
        </div>
      </li>
    </ul>

    <ul class="links">
      <li>
        <a href="#">
          <i class="fas fa-phone-alt"></i>
          <span>(210) 450-1000</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>MyChart</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Donate</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Contact</span>
        </a>
      </li>
    </ul>

    <ul class="links">
      <li>Go to: <a href="https://uthscsa.edu/">UT Health San Antonio</a></li>
    </ul>
  </nav>
</header>
