<section class="hero bleed">
    <div class="button-group">
        <p><a href="#" class="button">Hero Button Orange</a></p>
        <p><a href="#" class="button outlined">Hero Button Outlined Orange</a></p>
    </div>
</section>