<section class="hero gradient right white bleed img-fill">
    <img src="../../images/gradient_1.jpg" alt="Hospital">
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-right">
            <div class="small-12 medium-5 cell callout white">
                <h1>A Cornerstone of Research-based Medicine</h1>
                <p>Never before have research and patient care been so fully and seamlessly connected than at this $430 million best-in-class hospital, the first of its kind in our region.</p>
                <div class="button-group">
                    <p><a href="#" class="button">Patients and Visitors</a></p>
                    <p><a href="#" class="button outlined">Ways to Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
