<footer class="standard">
    <hr>
    <section class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-3 small-10">
                <a href="#" aria-label="Mays Cancer Center homepage">
                    <img src="../../images/mays-cancer-logo.svg" alt="UT Health San Antonio MD Anderson Mays Cancer Center">
                </a>
                <div class="contact margin-top">
                    <a href="#" class="fa-stack" aria-label="Map and directions">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                    </a>
                    <address>
                        Mays Cancer Center<br>
                        7979 Wurzbach Road<br>
                        San Antonio, TX 78229<br>
                        <a href="#">Map and directions</a>
                    </address>
                </div>
                <div class="contact">
                    <a href="#" class="fa-stack" aria-label="Call Mays Cancer Center">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="tel:2104501000">(210) 450-1000</a>
                </div>
            </div>

            <div class="cell large-3 medium-3 small-12">
                <div class="title-bar" data-responsive-toggle="explore" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="explore"></button>
                    <div class="title-bar-title">Explore</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="explore">
                    <p class="subnav-title">Explore</p>
                    <li><a href="#">Find a Doctor</a></li>
                    <li><a href="#">Make an Appointment</a></li>
                    <li><a href="#">Find a Location</a></li>
                    <li><a href="#">Our Cancer Programs</a></li>
                    <li><a href="#">Conditions We Treat</a></li>
                    <li><a href="#">Cancer Treatments</a></li>
                    <li><a href="#">Clinical Trials and Research</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>

            <div class="cell large-3 medium-3 small-12">
                <div class="title-bar" data-responsive-toggle="resources" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="resources"></button>
                    <div class="title-bar-title">Patient Resources</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="resources">
                    <p class="subnav-title">Patient Resources</p>
                    <li><a href="#">Prepare for Your Visit</a></li>
                    <li><a href="#">Parking and Transportation</a></li>
                    <li><a href="#">Hotels and Accommodations</a></li>
                    <li><a href="#">Insurance We Accept</a></li>
                    <li><a href="#">Medical Records Request</a></li>
                    <li><a href="#">Caregiver Support</a></li>
                    <li><a href="#">Cancer Health Library</a></li>
                    <li><a href="#">Refer a Patient</a></li>
                </ul>
            </div>

            <div class="cell large-3 medium-3 small-12">
                <div class="title-bar" data-responsive-toggle="connect" data-hide-for="medium">
                    <button class="menu-icon icon-right" type="button" data-toggle="connect"></button>
                    <div class="title-bar-title">Connect with us</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="connect">
                    <p class="subnav-title">Connect with us</p>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">News &amp; Stories</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Community Outreach and Engagement</a></li>
                    <li><a href="#">Education and Training</a></li>
                    <li><a href="#">Mays Cancer Center Membership</a></li>
                </ul>

                <div class="social">
                    <ul>
                        <li>
                            <a href="#" aria-label="Facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Instagram">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="X / Twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="YouTube">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <ul class="vertical menu accordion-menu" data-accordion-menu id="policies">
                    <li><a href="#">Website Policies and Accessibility</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="bleed color dark-grey">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <p>© Copyright 2014 - 2026 UT Health San Antonio</p>
                    <p><a href="#">Web Privacy</a> | Links from websites affiliated with UT Health San Antonio's website to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
                </div>
            </div>
        </div>
    </section>
</footer>
