/* ============================================================
    ALERTS
============================================================ */

.alert { //Closable alerts
    padding: rem-calc(20px);
    font-weight: 900;
    font-size: rem-calc(20px);
    text-align: center;

    button.close-button {
        color: $off-black;
        padding: rem-calc(5px);
    }

    a {
        font-weight: 900 !important;
        background-image: linear-gradient($orange, $orange) !important;
        color: $orange!important;
    
            &:hover {
                background-color: $dark-orange;
                color: $grey-link !important;
            }
    }

    i {
        font-size: rem-calc(24px);
    }

    p {
        margin: 0;
    }

    &.sitewide {
        background-color: $light-gold;
        color: $off-black;
        }
    }

.grid-container {
    .alert {
        background-color: $sky-blue;

        &.sky-blue {
            background-color: $sky-blue;
        }

        &.grey {
            background-color: $grey-20;
        }
    }

}