// ======= Links

%link-underline {
    //background-image: linear-gradient($gold, $gold),linear-gradient(to right, $gold, $gold 10%, $orange 25%, $dark-orange);
    background-image: linear-gradient($orange-underline, $orange-underline), linear-gradient($dark-orange, $dark-orange);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: .5s cubic-bezier(0.37, 0.01, 0.2, 1);
}

%link-underline-hover {
    background-size: 0 2px, 100% 2px;
}

// ======= Overwrite gloabl link effect
a {
    color: $orange;
    text-decoration: none;
    transition: .5s ease-out;

    &:hover,
    &:focus {
        color: $dark-orange;
        text-decoration: none;
    }

    &:focus-visible {
        outline-color: $blue;
        outline-width: rem-calc(8px);
        outline-offset: rem-calc(10px);
    }

}

// ======= apply link styles to paragraph text
p {
    >a:not(.button) {
        position: relative;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        @extend %link-underline;

        &:hover {
            @extend %link-underline-hover
        }
    }

    a.no-underline {
        background-image: none; //Class to remove default underline
    }
}

//Add arrow to end of link
a.arrow-right {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-indent: 0.175rem;
        content: "\f061";
        color: $orange;
        margin-left: .3rem;
        transition: .5s ease-out;
    }

    &:hover:after {
        color: $dark-orange;
        transform: translatex(.2rem);
    }
}


//Add an icon to indicate external link
a.external {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f35d";
        margin-left: .3rem;
        transition: .5s ease-out;
        //transform: rotate(-45deg);
    }

    &:hover:after {
        transform: translate(.1rem, -.1rem);
    }
}

//Add an icon to indicate external link
a.external {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f35d";
        margin-left: .3rem;
        transition: .5s ease-out;
        //transform: rotate(-45deg);
    }

    &:hover:after {
        transform: translate(.1rem, -.1rem);
    }
}

//Add an icon to indicate file download
a.file {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f56d";
        margin-left: .3rem;
        transition: .5s ease-out;
    }

    &:hover:after {
        transform: translate(.1rem, -.1rem);
    }
}

//Highlighter Links
a.highlight {
    background-color: $orange;
    color: $off-white;
    background-image: linear-gradient(transparent, transparent), linear-gradient($dark-orange, $dark-orange) !important;

    &:hover {
        color: $dark-orange;
        background-color: inherit;
    }
}

// ======= apply links to paragraph text on colored backgrounds
.color {

    //Default link styles on colored backgrounds.Left basic to not interfere with interactive element styles
    a {
        color: $off-white;


        &:hover,
        &:focus {
            color: $light-grey;
            text-decoration: none;
        }

        &:focus-visible {
            outline-color: $off-white;
            outline-width: rem-calc(8px);
            outline-offset: rem-calc(10px);
        }
    }

    //Link styles for paragraph text
    p>a:not(.button) {
        background-image: linear-gradient($blue-link, $blue-link);
        color: $blue-link;
        padding-left: .5% !important;
        padding-right: .5% !important;


        &:hover {
            background-color: $blue-link;
            color: $blue-90;
        }

        //Styles commented out. Should inherit color from link style
        /*&.arrow,
        &.external {
            &:after {
                color: $blue-link;
            }

            &:hover:after {
                color: $blue-90;
            }
        }*/

        &.highlight {
            background-color: $blue-10;
            color: $blue-90;
            background-image: linear-gradient(transparent, transparent), linear-gradient($blue-link, $blue-link);

            &:hover {
                color: $blue-link;
                background-color: inherit;
            }
        }
    }

    &.orange,
    &.darken {
        p>a:not(.button) {
            background-image: linear-gradient($orange-link, $orange-link);
            color: $orange-link;

            &:hover {
                background-color: $light-beige;
                color: $orange-90;
            }

            /*&.arrow,
            &.external {
                &:after {
                    color: $orange-link;
                }

                &:hover:after {
                    color: $orange-90;
                }
            }*/

            &.highlight {
                background-color: $light-beige;
                color: $dark-orange !important;
                background-image: linear-gradient(transparent, transparent), linear-gradient($orange-link, $orange-link) !important;

                &:hover {
                    color: $orange-link !important;
                    background-color: inherit;
                }
            }
        }

        cite>a {
            color: $orange-link;

            &:hover {
                color: $light-beige;
            }

        }
    }

    &.grey,
    &.dark-grey {
        p>a:not(.button) {
            background-image: linear-gradient($grey-link, $grey-link);
            color: $grey-link;

            &:hover {
                background-color: $grey-link;
                color: $grey-90;
            }

            &.arrow,
            &.external {
                &:after {
                    color: $grey-link;
                }

                &:hover:after {
                    color: $grey-90;
                }
            }

            &.highlight {
                background-color: $grey-link;
                color: $grey-90 !important;
                background-image: linear-gradient(transparent, transparent), linear-gradient($grey-link, $grey-link) !important;

                &:hover {
                    color: $grey-link !important;
                    background-color: inherit;
                }
            }
        }

        cite>a {
            color: $grey-link;

            &:hover {
                color: $off-white;
            }

        }
    }

    //If link is in a white card/callout, use default link style
    .card,
    .callout {
        a:not(.button) {
            color: $orange;

            &:hover {
                color: $dark-orange;
            }

        }
    }

}

//Links on an image background
.img-fill {
    p>a:not(.button) {
        background-image: linear-gradient($grey-link, $grey-link);
        color: $grey-link;

        &:hover {
            background-color: $grey-link;
            color: $grey-90;
        }

        &.highlight {
            background-color: $grey-link;
            color: $grey-90 !important;
            background-image: linear-gradient(transparent, transparent), linear-gradient($grey-link, $grey-link) !important;

            &:hover {
                color: $grey-link !important;
                background-color: transparent !important;
            }
        }
    }
}

.color .white,
.img-fill .white {

    //Use default link styles on white backgrounds like callouts or cards
    p {
        >a:not(.button) {
            position: relative;
            text-decoration: none;
            font-weight: $black-font-weight;
            font-size: 18.7px;
            @extend %link-underline;

            &:hover {
                @extend %link-underline-hover;
                background-color: unset;
            }
        }

        a.no-underline {
            background-image: none;
        }

        //Highlighter Links
        &.highlight {
            background-color: $orange;
            color: $off-white;
            background-image: linear-gradient(transparent, transparent), linear-gradient($dark-orange, $dark-orange) !important;

            &:hover {
                color: $dark-orange;
                background-color: inherit;
            }
        }
    }


}


/*ul:not(.accordion, .menu) a {
    font-weight: 600;
}*/