/* ============================================================
    TEXT STYLES
============================================================ */

//Setting rem size to 16px by default (This is a fix for an issue in FireFix where font size was not rendering properly)
html {
    font-size: 16px;
}

//Setting text size to 18px
body {
    font-size: 18px;
}

/*============== RESPONSIVE HEADING SIZES ===================
For the base heading sizes, rem-calc() is not calculating properly, so please leave the sizes in pixels.
*/
h1,
.h1 {
    font-size: 52px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 43px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 32px;
    }

}

h2,
.h2 {
    font-size: 42px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 34px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 28px;
    }

}

h3,
.h3 {
    font-size: 34px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 30px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 24px;
    }

}

h4,
.h4 {
    font-size: 30px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 25px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 23px;
    }
}

h5,
.h5 {
    font-size: 25px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 20px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 20px;
    }
}

h6,
.h6 {
    font-size: 18px;
}

//Only used for factoids
.supersize {
    font-size: 68px;

    /*---- MEDIUM or TABLET----*/
    @media screen and (max-width: $medium-screen) {
        font-size: 58px;
    }

    /*---- SMALL or MOBILE----*/
    @media screen and (max-width: $small-screen) {
        font-size: 47px;
    }
}

// ======= Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif-font;
}

body {
    font-family: $sans-serif-font;
    line-height: 1.5;
}

h1,
.h1 {
    margin-bottom: rem-calc(18px);
    line-height: 1.2;
    font-family: $serif-font;
}

h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $serif-font;
    margin-bottom: rem-calc(18px);
    line-height: 1.3;
}


label {
    font-family: $sans-serif-font;
    font-size: rem-calc(18px);
}

address {
    font-style: normal;
    margin-bottom: 1rem;
}

strong {
    font-weight: 900;
}

.lead {
    font-size: 32px;
}

.black {
    font-weight: $black-font-weight;
}

.bold {
    font-weight: $bold-font-weight;
}

.sans-serif {
    font-family: $sans-serif-font !important;
}

.serif {
    font-family: $serif-font !important;
}

.text-center {
    text-align: center;
}

// ======= Sub navigation heading
.subnav-title {
    display: block;
    text-transform: uppercase;
    color: $off-black;
    font-weight: 700;
    font-size: 18px;
    text-indent: 1rem;
    padding-top: 1.5rem;
    letter-spacing: 2px;
}

// ======= Patient story heading
.patient-title {
    font-size: 24px;
    font-family: $sans-serif-font;
    font-weight: 700;
}

h1+.subheader,
h1+.subheader+.subheader,
h1+.subheader+.subheader+.subheader,
h1+.subheader+.subheader+.subheader+.subheader,
h1+.subheader+.subheader+.subheader+.subheader+.subheader {
    font-family: $sans-serif-font;
    color: $off-black;
    font-size: rem-calc(32px);
    margin-top: rem-calc(-10px);

    &.small {
        font-size: rem-calc(25px);

        @media screen and (max-width: 569px) {
            font-size: rem-calc(22px);
        }
    }

    @media screen and (max-width: 569px) {
        font-size: rem-calc(22px);
    }
}

.subheader+.subheader {
    margin-top: rem-calc(-18px) !important;
}

h2+.subheader {
    font-size: rem-calc(25px);
    font-family: $sans-serif-font;
    color: $off-black;
    margin-top: rem-calc(-24px);

    &.small {
        font-size: rem-calc(25px);

        @media screen and (max-width: 569px) {
            font-size: rem-calc(20px);
        }
    }

    @media screen and (max-width: 569px) {
        font-size: rem-calc(20px);
    }
}

.callout {

    &.orange,
    &.grey {
        .subheader {
            color: $off-white;
        }
    }
}

.subheader+.subtext {
    margin-top: rem-calc(-5px);
}

// ======= Colorized headings and paragraph text
h1,
h2,
h3,
h4,
h5,
h6,
p {

    &.color {
        color: $blue;
        background-color: transparent;
    }

    &.filled {
        color: $off-white !important;
        background-color: $blue;
    }
}

p {

    &.light {
        font-weight: 100;
    }

    &.large {
        font-size: 24px;
        ;
    }
}

a {
    color: $orange;
    transition: $text-transition;
    font-weight: 600;
}

a:hover {
    color: $dark-orange;
}

.ruled {
    padding-bottom: 0.25em;
    border-bottom: #808a8f rem-calc(1px) solid;
}

.required {
    color: $red;
    font-weight: 900;
    font-size: rem-calc(20px);
}

// ======= Figcaption
figcaption {
    color: $off-black;
    font-style: italic;
    padding: rem-calc(2px);
    text-align: center;
    text-align: left;

    &.small {
        font-size: rem-calc(14px);
    }

    &.large {
        font-size: rem-calc(22px);
    }

    &.grey {
        color: $dark-grey;
    }
}

.color figcaption {
    color: $off-white !important;
}

/* =========================
Date
=================*/

.help-text {
    font-size: rem-calc(16px);
    font-weight: 200;
    color: $off-black;
    font-style: normal;
}

/* =========================
Tooltip
=================*/

.has-tip {
    color: $dark-grey;
    border-bottom: solid 1px $dark-grey;

}

.tooltip {
    border: solid $blue 1px;
    background-color: $off-white;
    color: $off-black;

    &.right {
        &:before {
            border-color: transparent $blue transparent transparent;
        }
    }

    &.left {
        &:before {
            border-color: transparent transparent transparent $blue;
        }
    }

    &.top {
        &:before {
            border-color: $blue transparent transparent;
        }
    }

    &.bottom {
        &:before {
            border-color: transparent transparent $blue;
        }
    }
}