<div class="grid-x">
  <div class="cell large-12">
    <!-- MODAL LINK-->
  <p><button class="button" data-open="modal-image">Click me! I open for an image modal</button></p>
  <!-- MODAL CONTENTS-->
  <div class="reveal modal image large" id="modal-image" aria-labelledby="modal-image" data-reveal>
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-10 small-order-2 medium-order-2 large-5 large-order-1 flex-container modal-image align-center">
        <div class="flex-child-auto">
          <img src="<img src="https://picsum.photos/id/0/800/450" alt="Laptop on table" alt="adorable pup">
        </div>
      </div>
      <div class="cell small-12 medium-12 small-order-1 medium-order-1 large-order-2 large-7 flex-container">
        <div class="flex-child-auto">
          <h2>I'm an image modal</h2>
          <p >Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion!Nilgiri nokcha energy matcha white loose leaf caffeine oolong focus nokcha yerba maté tea garden. Sachet blend lemongrass nilgiri masala chai hot puierh pearl milk oolong teapot infusion!</p> 
          <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>  
  </div>
</div>