{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <h1>FAQ: COVID-19 virus mRNA vaccines in patients with cancer</h1>
        <h2>What vaccines against the COVID-19 virus are currently available?</h2>
        <ul>
          <li>There are two vaccines that currently have Emergency Use Authorization from the FDA, one from Pfizer-BioNtech and another from Moderna.</li>
          <li>Both of these vaccines are based on mRNA technology, which has been developed over the past 30 years.</li>
          <li>For further general information about mRNA vaccines, please visit the <a href="#">Centers for Disease Control and Prevention</a> website.</li>
        </ul>
        <h2>Were these vaccines studied in cancer patients?</h2>
        <ul>
          <li>Cancer patients undergoing active treatment were not included in the Pfizer and Moderna clinical trials.</li>
        </ul>
        <h2>Why should a patient with cancer get an mRNA vaccine if these patients were not in the clinical trials?</h2>
        <ul>
          <li>Patients with cancer, particularly those with hematologic or lung malignancies or those with metastatic disease from any primary, have been shown to have increased risk for developing severe COVID-19 symptoms.</li>
          <li>COVID-19 can lead to significant delays in cancer treatment and surveillance.</li>
          <li>Although evidence regarding use of these particular vaccines is limited, there is enough evidence to support COVID-19 vaccination in patients with cancer, including those receiving immunosuppressive therapy.</li>
        </ul>
        <h2>Are the COVID-19 virus mRNA vaccines safe for cancer patients?</h2>
        <ul>
          <li>There are theoretical concerns about the use of these vaccines in patients with hematologic malignancy, those who have undergone bone marrow transplant and those on checkpoint inhibitor therapy.</li>
          <li>In light of our high community incidence of COVID-19 virus transmission and the risk for severe COVID-19 disease in patients with cancer, we consider that the benefits of vaccination outweigh any theoretical risks, based on currently available evidence.</li>
          <li>There is a risk for allergic reaction to these vaccines in all populations. Anyone with a history of a severe immediate allergic reaction to any components of the vaccine should not be vaccinated. Please visit the <a href="#">Centers for Disease Control and Prevention</a> for information regarding this issue.</li>
        </ul>
        <h2>Are these vaccines effective in cancer patients, particularly those on immunosuppression?</h2>
        <ul>
          <li>The underlying malignancy, the treatment regimen used and the timing of the vaccine in relation to treatment may all impair a cancer patient’s response to vaccination.</li>
          <li>Patients with cancer should continue protective behaviors like physical distancing, attentive hand hygiene and masking, even after completing the vaccine series.</li>
          <li>The optimal time to give a cancer patient a COVID-19 virus vaccine should be determined in conjunction with the treating oncologist.</li>
        </ul>
        <h2>Additional Resources</h2>
        <ul>
          <li><a href="#">American Society of Hematology</a></li>
          <li><a href="#">American Society of Clinical Oncology</a></li>
          <li><a href="#">European Society of Medical Oncology</a></li>
        </ul>
      </main>
      <aside class="small-12 medium-4 large-4 cell">
      </aside>
    </div>
  </div>
</section>

{% include "@blocks/cards/scrolling-card-panel.twig" %}

{% include "@blocks/footer/default-footer-cancer-center.twig" %}