<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #AD4200;"></span>
		<span class="sg-label">$orange</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7A0F00;"></span>
		<span class="sg-label">$dark-orange</span>
	</li>
</ul>