<section class="bleed">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-12 medium-12 large-12 ">
				<p>
				<strong>Examples and demos can be found in <a
						href="https://get.foundation/sites/docs/flexbox-utilities.html">Foundation 6 Flexbox
						utilities documentation</a>.</strong>
				</p>
			</div>
		</div>
</section>