<footer class="standard">
    <hr>
    <section class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell large-3 medium-4 small-10">
                <a href="#" aria-label="Mays Cancer Center homepage">
                    <img src="../../images/mays-cancer-logo.svg" alt="UT Health San Antonio MD Anderson Mays Cancer Center">
                </a>
                <div class="contact margin-top">
                    <a href="#" class="fa-stack" aria-label="Map and directions">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                    </a>
                    <address>
                        Mays Cancer Center<br>
                        7979 Wurzbach Road<br>
                        San Antonio, TX 78229<br>
                        <a href="#">Map and Directions</a>
                    </address>
                </div>
                <div class="contact">
                    <a href="#" class="fa-stack" aria-label="Call Mays Cancer Center">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="tel:2104501000">(210) 450-1000</a>
                </div>
                <div class="margin-top">
                <a href="#" aria-label="NCI homepage">
                    <img src="../../images/nci-ccc-logo.png" alt="National Cancer Institute-designated Comprehensive Cancer Center"></a>
                </div>
            </div>

            <div class="cell large-auto medium-4 small-12">
                <div class="title-bar" data-responsive-toggle="quick-links" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="quick-links"></button>
                    <div class="title-bar-title">Quick Links</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="quick-links">
                    <p class="subnav-title">Quick Links</p>
                    <li><a href="#">Make an Appointment</a></li>
                    <li><a href="#">Find a Doctor or Location</a></li>
                    <li><a href="#">Search Cancer Treatments</a></li>
                    <li><a href="#">Clinical Trials and Research</a></li>
                    <li><a href="#">Access MyChart</a></li>
                    <li><a href="#">Charitable Giving</a></li>
                </ul>
            </div>

            <div class="cell large-auto medium-4 small-12">
                <div class="title-bar" data-responsive-toggle="resources-for-you" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="resources-for-you"></button>
                    <div class="title-bar-title">Resources</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="resources-for-you">
                    <p class="subnav-title">Resources</p>
                    <li><a href="#">Cancer Health Library</a></li>
                    <li><a href="#">Notice of Non-discrimination</a></li>
                    <li><a href="#">Patients and Families</a></li>
                    <li><a href="#">Price Transparency</a></li>
                    <li><a href="#">Physicians and Providers</a></li>
                    <li><a href="#">Job Seekers</a></li>
                </ul>
            </div>

            <div class="cell large-auto medium-4 small-12">
                <div class="title-bar" data-responsive-toggle="about-us" data-hide-for="medium">
                    <button class="menu-icon" type="button" data-toggle="about-us"></button>
                    <div class="title-bar-title">About Us</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="about-us">
                    <p class="subnav-title">About Us</p>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Newsroom</a></li>
                    <li><a href="#">Awards &amp; Recognition</a></li>
                    <li><a href="#">Education</a></li>
                </ul>
            </div>

            <div class="cell large-auto medium-4 small-12">
                <div class="title-bar" data-responsive-toggle="connect" data-hide-for="medium">
                    <button class="menu-icon icon-right" type="button" data-toggle="connect"></button>
                    <div class="title-bar-title">Connect with Us</div>
                </div>
                <ul class="vertical menu accordion-menu" data-accordion-menu id="connect">
                    <p class="subnav-title">Connect with Us</p>
                </ul>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#" aria-label="Facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="Instagram">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="X / Twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" aria-label="YouTube">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-square fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                <a href="#" aria-label="LinkedIn">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="bleed color dark-grey">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <p>© Copyright 2014 - 2026 UT Health San Antonio</p>
                    <p><a href="#">Web Privacy</a> | Links from websites affiliated with UT Health San Antonio's website to other websites do not constitute or imply university endorsement of those sites, their content, or products and services associated with those sites. The content on this website is intended to be used for informational purposes only. Health information on this site is not meant to be used to diagnose or treat conditions. Consult a health care provider if you are in need of treatment.</p>
                </div>
            </div>
        </div>
    </section>
</footer>