{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Find a care location</h1>
      </div>
    </div>
  </div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <h2>Leading cancer care in Central and South Texas</h2>
        <p>Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center, has a long history of excellence in cancer research and treatment. Since 1974, we’ve provided exceptional cancer care for communities across Central and South Texas. You have access to a higher level of care close to home.</p>
        <h2>Cancer care at Mays Cancer Center</h2>
        <p>We’re the only cancer center in Central and South Texas with a National Cancer Institute designation, offering new treatments for eligible patients that aren’t widely available elsewhere. You have access to comprehensive care from doctors at the forefront of cancer care and groundbreaking research.</p>
        <p>You’ll receive care within one of our multidisciplinary cancer care programs, where an expert team focuses on your specific type of cancer. Your team includes surgeons, medical oncologists, radiation oncologists and other cancer specialists working together. Depending on your health needs, you may also receive care in one of our other specialty clinics that focus on a specific type of treatment.</p>
      </main>
      <aside class="small-12 medium-4 large-4 cell">
              <a class="callout interactive orange with-icon" href="#">
        <span class="fa-stack" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Find a Doctor</h4>
      </a>   
      </aside>
    </div>
  </div>
</section>
<section class="bleed light-grey">
<main class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
        <section class="cell small-12 medium-7 large-8 small-order-2 medium-order-1">
            <img src="../../images/map-placeholder.png" alt="map placeholder">
        </section>

        <aside class="cell small-12 medium-5 large-4 small-order-1 medium-order-2">
            <h2 class="h4 sans-serif black">Filter Results:</h2>
            <label>Services offered:
                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </label>
            <label>Conditions treated:
                <select>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </label>
            
            <div class="grid-x grid-margin-x">
                <div class="small-2 cell"><label for="middle-label" class="text-right middle">Within:</label></div>
                <div class="small-5 cell">
                    <select>
                        <option value="1">5 miles</option>
                        <option value="2">10 miles</option>
                        <option value="3">15 miles</option>
                        <option value="4">20 miles</option>
                    </select>
                </div>
                <div class="small-1 cell"><label for="middle-label" class="text-right middle">of</label></div>
                <div class="small-4 cell"><input type="text" placeholder="Zip Code"></div>
            </div>
            <div class="button-group"><a href="#" class="button">Filter</a><a href="#" class="button outlined">Clear all filters</a></div>
        </aside>
        <section class="small-12 cell small-order-3">
            <div class="grid-x grid-margin-x grid-margin-y align-center">
                <div class="cell small-12">
                    <div class="grid-x grid-margin-x">
                        <div class="cell small-4"><h2 class="h5 sans-serif black">9 Locations Found</h2></div>
                        <div class="cell small-4">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-3"><label for="middle-label" class="text-right middle">Sort by:</label></div>
                                <div class="cell small-9">
                                    <select>
                                        <option value="1">Proximity</option>
                                        <option value="2">A-Z</option>
                                        <option value="3">Z-A</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
        <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
        <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
        <p>Hi, how are you?<p>
      </div>
    </a>
                 <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
                <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
                <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
                <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
        <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
        <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
                <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
                <a class="card border-card cell small-12 medium-4 large-4">
      <img src="https://picsum.photos/534/300">
      <div class="card-section">
        <h4>Medical Arts and Research Center</h4>
        <p><i class="fas fa-map-marker-alt "></i> 8300 Floyd Curl Drive<br>San Antonio, TX 78229 210-450-9000<p>
      </div>
    </a>
        </section>
	</div>
</main>
</section>
{% include "@blocks/footer/cancer-center-footer.twig" %}