{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}

<section class="hero left bleed img-fill full">
    <img src="../../images/patients-visitors.jpg" alt="Patients and visitors">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-5 small-12">
                <div class="callout white">
                    <h1>Supportive Cancer Care Program</h1>
                    <p>Experts at Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center, want you to get the most out of each treatment. We can help you manage symptoms, side effects and worries so you can focus on healing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <p>Our supportive cancer care clinic, which is unique to South Texas, addresses these issues so your care keeps moving forward. We offer a broad range of medical, wellness and support services, combining the expertise of multiple palliative care specialists to tailor your treatment.</p>

        <h2>What you need to know about our supportive cancer care clinic</h2>
        <p>Our services relieve some of the challenges of living with cancer so you can focus on getting better. Here are some details to be aware of when considering our supportive cancer care clinic:</p>
        <ul>
          <li>You may receive therapies to reduce discomfort and help you adjust to cancer-related changes in your everyday life.</li>
          <li>We discuss your care goals, which may include regaining your strength or managing specific symptoms that are worrisome for you. We also help you plan for future medical needs and navigate difficult care decisions.</li>
          <li>Supportive care is also called palliative care. It is for patients who need help coordinating care or are experiencing uncontrolled symptoms. Supportive care helps you have a good quality of life through the duration of a serious illness — including through cancer treatments.</li>
          <li>Supportive (palliative) care is offered on an outpatient basis through Mays Cancer Center and to inpatients through the UT Health San Antonio Multispecialty and Research Hospital.</li>
          <li>We provide services in multiple locations throughout the cancer center — including chemotherapy and immunotherapy infusion rooms and your primary cancer doctor’s office — and during telehealth appointments.</li>
        </ul>

        <h2>Why choose us for supportive care?</h2>
        <p>Our clinic makes lives better for people with cancer. Our caring specialists offer a vast array of solutions to common challenges that cancer patients face.</p>
        <p>Highlights of our supportive cancer care clinic include:</p>
        <ul>
          <li><strong>Collaboration:</strong> We work closely with your care team, including oncologists, surgeons, radiologists and others, to provide cohesive care. Most members of your care team are even located in the same building as we are.</li>
          <li><strong>Comprehensive services:</strong> We provide supportive cancer care on both an inpatient and outpatient basis. You have access to supportive care services as needed while staying with us as an inpatient at the <a href="#">UT Health San Antonio Multispecialty and Research Hospital</a>. And we continue to support you as an outpatient when you visit Mays Cancer Center for treatment. Your entire care team works together, offering exceptional continuity of care.</li>
          <li><strong>Convenience:</strong> Your time is precious, which is why we make it easy for you to receive supportive care services. Our outpatient clinic is open on days when many patients are already coming to the cancer center for treatment. If you need to see multiple members of our supportive care team, you can usually see them in one visit. In some cases, our team can come to you in your treatment room. This way, we can help you make the most of your time during infusion therapy or other office visits.</li>
          <li><strong>Personalized care:</strong> Our experience caring for a high volume of cancer patients makes it easier to anticipate your needs. Throughout treatment and during survivorship, we help address common issues such as pain, weakness, appetite changes, anxiety and depression.</li>
          <li><strong>Specialized team:</strong> You receive services from doctors, nurses and other experts who specialize in palliative care with a focus on patients with cancer. They excel in meeting the unique needs of cancer patients. We work together to coordinate services that make life a little easier for you.</li>
        </ul>

        <h2>Our supportive cancer care services</h2>
        <p>Your care starts with a comprehensive evaluation so we can learn about the way cancer is affecting your life. Your personalized plan may involve:</p>
        <ul>
          <li><strong>Emotional support:</strong> We help you cope with difficult thoughts and feelings associated with anxiety, depression, troubled relationships and body image issues.</li>
          <li><strong>Medical management:</strong> Our doctors support you by assessing physical and emotional symptoms such as fatigue, nausea, insomnia, pain or shortness of breath. They then create individualized treatment plans to medically address those symptoms.</li>
          <li><strong>Nursing and medical assistance:</strong> We have team members available daily to help discuss your concerns and then match you with the member of our team best able to care for you.</li>
          <li><strong>Palliative care:</strong> Doctors who are experts in pain and symptom management discuss your care preferences. If you wish to avoid specific treatments or side effects, we share this information with your care team. We also help you think about future care needs, such as who should make care decisions if you are not able.</li>
          <li><strong>Psychological care:</strong> We have a dedicated psychologist who helps you navigate unexpected or difficult challenges through behavioral therapy and counseling.</li>
          <li><strong>Social work services:</strong> We have a dedicated licensed clinical social worker who helps you coordinate your care, support and resources.</li>
          <li><strong>Spiritual support:</strong> We have team members who specialize in helping you process your diagnosis and cope with the emotional and spiritual aspects of your diagnosis.</li>
        </ul>

        <h2>Additional services</h2>
        <p>Mays Cancer Center offers additional services that make your life a little easier during cancer treatment. For more information about these services, call <a href="tel:2104505570">210-450-5570</a>.</p>
        <ul>
          <li><strong>Financial counseling:</strong> If you do not have insurance or you are struggling with medical bills, financial help is here for you. Financial counselors help you explore insurance coverage and financial assistance options.</li>
          <li><strong>Lodging assistance:</strong> If you must travel long distances to Mays Cancer Center, we may be able to help you find overnight accommodations. We work with local organizations that provide support to patients with cancer. These organizations may be able to offer reduced rates when available.</li>
          <li><strong>Nutritional counseling:</strong> Our registered dietitian assesses whether you are getting the nutrients you need and helps you navigate unexpected weight loss when it is difficult to eat. They explain how to get nutrients you need to support energy and suggest therapies to prevent dry mouth.</li>
          <li><strong>Occupational and physical therapy:</strong> Occupational and <a href="#">physical therapists</a> share methods to help you maintain strength, relieve tight muscles, stay safe and adjust your routines to keep you functioning in your home. They can suggest tools to help you reach items around the house as you heal after surgery. Or if chemotherapy affects sensation in your feet, they show you how to prevent falls.</li>
          <li><strong>Speech therapy:</strong> Speech therapists are available to help you with difficulty swallowing, speech and voice issues resulting from cancer symptoms or treatment.</li>
          <li><strong>Survivorship services:</strong> We partner with the Cancer Survivorship Program to serve as a bridge from diagnosis through cancer treatment. The survivorship program team members can help you cope with cancer and its side effects, whether you receive ongoing treatment or have been cancer-free for years. The program addresses the physical and emotional effects of the disease to promote your health, well-being and overall quality of life. Learn more about our <a href="#">Cancer Survivorship Program</a>.</li>
          <li><strong>Transportation services:</strong> If your insurance plan offers transportation, we can help you access these services. We also work with local organizations that support cancer patients. They may be able to help you find transportation at a reduced rate, if available.</li>
        </ul>

        <h2>Care locations</h2>
        <p><strong><a href="#">Urschel Building</a></strong>
        <ul>
          <li>Supportive Cancer Care Clinic | 4th Floor</li>
        <li><a href="#">UT Health San Antonio Multispecialty and Research Hospital</a></li>
        </ul></p>

      </main>
      <aside class="small-12 medium-4 large-4 cell">
      <div class="title-bar" data-responsive-toggle="subnav" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
        <div class="title-bar-title">Section Navigation</div>
      </div>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <div class="subnav-title">Cancer Care Programs</div>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
      </ul>  
      </aside>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell callout spotlight spotlight-left orange medium-6 large-7 small-12 small-order-1 medium-order-1 large-order-1">
        <h2>Get Care Today</h2>
				<p>Visit one of our hematologic cancer experts to confirm a diagnosis or review your treatment options.</p>
    <p><a href="#" class="highlight">Make an appointment</a></p>
      </div>

      <div class="cell medium-6 large-6 small-12 small-order-2 medium-order-2 large-order-2 img-spotlight">
        <img src="../../images/appointments.jpg" alt="a patient and doctor talking">
      </div>
    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 margin-bottom">
        <h2 class="text-center">Meet our stem cell therapy team</h2>
      </div>
      <a href="#" class="card border-card cell small-12 medium-4 large-4">
        <img src="../../images/sherri-cervantez.jpg" alt="Sherri Cervantez, MD">
        <div class="card-section">
          <h4>Sherri Cervantez, MD</h4>
          <p>Palliative Medicine</p>
        </div>
      </a>
      <a href="#" class="card border-card cell small-12 medium-4 large-4">
        <img src="../../images/victoria-cooremans.jpg" alt="Victoria Cooremans, MD">
        <div class="card-section">
          <h4>Victoria Cooremans, MD</h4>
          <p>Internal Medicine</p>
        </div>
      </a>
      <a href="#" class="card border-card cell small-12 medium-4 large-4">
        <img src="../../images/blank-provider-profile.jpg" alt="Blank provider profile image">
        <div class="card-section">
          <h4>Jason Morrow, MD, PhD, FAAHPM</h4>
          <p>Palliative Medicine</p>
        </div>
      </a>
      <div class="cell small-12 text-center">
        <p><a href="#" class="button">View all hematology providers</a></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center" data-equalizer data-equalize-on="medium">

      <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange" href="#" data-equalizer-watch>
          <h4 class="ruled">Meet Our Team</h4>
          <p>Our team includes cancer experts from different medical specialties who share a commitment to delivering precise, personalized care.</p>
        </a>
      </div>

      <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange align-top" href="#" data-equalizer-watch>
          <h4 class="ruled">Plan your visit</h4>
          <p>Get answers to common questions about visiting the Mays Cancer Center.</p>
        </a>
      </div>

    </div>
  </div>
</section>

{% include "@blocks/cards/scrolling-card-panel.twig" %}
{% include "@blocks/footer/default-footer-cancer-center.twig" %}