<div class="bleed color grey pullquote">
  <div class="grid-container">
    <div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
      <div class="grid-x align-center-middle">
        <div class="cell small-10">
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
            <li class="orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
            <li class="orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
            <li class="orbit-slide">
              <blockquote>
                <p>Invoke me by adding .pullquote to the bleed. A block quotation (also known as a long quotation or
                  extract) is a quotation in a written document, that is set off from the main text as a paragraph, or
                  block of text, and typically distinguished visually using indentation and a different typeface or
                  smaller size quotation. Blockquotes have no margin/padding of their own and should be placed within
                  another element like a bleed.</p>
                <cite>Obi-Wan Kenobi, Jedi Master</cite>
              </blockquote>
            </li>
          </ul>
        </div>
        <div class="cell small-1">
          <nav class="orbit-bullets">
            <ul class="no-bullet">
              <li><button class="is-active cell small-4" data-slide="0"><span class="show-for-sr">First slide
                    details.</span><span class="show-for-sr">Current Slide</span></button></li>

              <li><button class="cell small-4" data-slide="1"><span class="show-for-sr">Second slide
                    details.</span></button></li>

              <li><button class="cell small-4" data-slide="2"><span class="show-for-sr">Third slide
                    details.</span></button></li>

              <li><button class="cell small-4" data-slide="3"><span class="show-for-sr">Fourth slide
                    details.</span></button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>