<header class="title-bar" id="mobile-header" data-responsive-toggle="header">
    <a href="#"><img src="../../images/UTHSA-Hospital_H.svg"></a>
    <div class="mobile-icons">
        <a href="#">
            <i class="fas fa-phone"></i>
            <span>Call Us</span>
        </a>
        <a href="#" id="search">
            <i class="fas fa-user"></i>
            <span>MyChart</span>
        </a>
    </div>
    <button class="menu-icon" type="button" data-toggle="header">Menu</button>
</header>
<form class="mobile-search">
    <input type="search" class="search-box" placeholder="Search by keyword...">
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
</form>
<header id="header" class="off-canvas-content" data-off-canvas-content>
    <div class="header-bar">
        <p><a>UT Health San Antonio Patient Care</a> | <a>Mays Cancer Center</a></p>
        <a class="donate">Apply Now</a>
    </div>
    <div class="group">
        <div class="logo pipe">
            <a href="#"><img src="../../images/UTHSA_basic_logo.svg" alt="UT Health San Antonio"></a>
            <p>Multispecialty & Research Hospital</p>
        </div>

        <div class="right">
            <a href="#">
                <i class="fas fa-phone-alt"></i>
                <span>210-450-9000</span>
            </a>
            <a href="#">
                <span>Location</span>
            </a>
            <a href="#">
                <span>Patient Check-in</span>
            </a>
            <a href="#">
                <span>Financial Services</span>
            </a>
            <a href="#">
                <span>Careers</span>
            </a>
            <a href="#">
                <i class="fas fa-user"></i>
                <span>MyChart</span>
            </a>
            <a href="#" id="search">
                <i class="fas fa-search"></i>
                <span>Search</span>
            </a>
        </div>
        <!--<div class="search-bar">
        </div>-->
    </div>
    <nav class="nav-bar" id="nav-bar-mobile">
        <ul class="mobile-nav accordion" data-accordion data-allow-all-closed="true">
            <li><a href="#">FIND CARE</a></li>
            <li class="accordion-item" data-accordion-item>
                <a href="#">PATIENTS AND VISITORS</a>
                <div class="accordion-content" data-tab-content>
                    <ul class="menu vertical">
                        <li><a>Patients and Visitors Home</a></li>
                        <li><a>Patient Support Programs</a></li>
                        <li><a>Hospital Map/Parking</a></li>
                        <li><a>Preparing for Your Visit</a></li>
                        <li><a>Patient & Guest Relations</a></li>
                        <li><a>Patient Notices & Forms</a></li>
                        <li><a>Obtain Medical Records</a></li>
                        <li><a>Refer a Patient</a></li>
                        <li><a>Virtual Nursing</a></li>
                        <li><a>Financial Services & Calculators</a></li>
                        <li><a>MyChart Patient Portal</a></li>
                        <li><a>Find Care</a></li>
                        <li><a>Patient Check-in</a></li>
                        <li><a>Find Patient Information</a></li>
                        <li><a>Caregiver Support Programs</a></li>
                        <li><a>Amenities and Accommodations</a></li>
                        <li><a>Plan Your Visit</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#">SPECIALTIES</a>
                <div class="accordion-content" data-tab-content>
                    <ul class="menu vertical">
                        <li><a href="#">Menu Item 1</a></li>
                        <li><a href="#">Menu Item 2</a></li>
                        <li><a href="#">Menu Item 3</a></li>
                        <li><a href="#">Menu Item 4</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#">CLINICAL TRIALS</a>
                <div class="accordion-content" data-tab-content>
                    <ul class="menu vertical">
                        <li><a href="#">Menu Item 1</a></li>
                        <li><a href="#">Menu Item 2</a></li>
                        <li><a href="#">Menu Item 3</a></li>
                        <li><a href="#">Menu Item 4</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">FOR PROVIDERS</a></li>
            <li class="accordion-item" data-accordion-item>
                <a href="#">ABOUT US</a>
                <div class="accordion-content" data-tab-content>
                    <ul class="menu vertical">
                        <li><a href="#">Menu Item 1</a></li>
                        <li><a href="#">Menu Item 2</a></li>
                        <li><a href="#">Menu Item 3</a></li>
                        <li><a href="#">Menu Item 4</a></li>
                    </ul>
                </div>
            </li>

        </ul>

        <ul class="links">
            <li><a href="#">
                    <i class="fas fa-phone-alt"></i>
                    <span>210-450-9000</span>
                </a></li>
            <li><a href="#">
                    <span>Location</span>
                </a></li>
            <li><a href="#">
                    <span>Patient Check-in</span>
                </a></li>
            <li><a href="#">
                    <span>Financial Services</span>
                </a></li>
            <li><a href="#">
                    <span>Careers</span>
                </a></li>
            <li><a href="#">
                    <i class="fas fa-user"></i>
                    <span>MyChart</span>
                </a></li>

        </ul>

        <ul class="links">
            <li> <a class="donate">Apply Now</a>
            </li>
            <li>Go to: <a>UT Health San Antonio Patient Care</a> | <a>Mays Cancer Center</a></li>
        </ul>


    </nav>

</header>