<div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-12 medium-6 lines">
            <ul>
                <li><a href="#">This is a list item in an arrow link list</a></li>
                <li><a href="#">An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line.</a></li>
                <li><a href="#">This pattern only allows for a single level (no nesting)</a></li>
                <li><a href="#">This is the last list item</a></li>
            </ul>
        </div>
    </div>
</div>