<section class=" hero full bleed img-fill video">
    <div class="responsive-embed">
        <iframe
            src=https://player.vimeo.com/video/1018361616?h=84bb8c3d3d&amp;badge=0&amp;loop=1&amp;autopause=0&amp;player_id=0&amp;app_id=58479
            frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="UT Health San Antonio | Multiscpecialty and Research Hospital Footage | 2024"></iframe>
    </div>
    <div class="grid-container extra-roomy">
        <div class="grid-x grid-margin-x align-left">
            <div class="small-12 medium-5 cell callout">
                <h1>The future of medicine is here</h1>
                <p>Welcome to UT Health San Antonio Multispecialty and Research Hospital — a patient and family-centered
                    hospital where care and comfort come first. As the only academic medical center hospital in the
                    region, we are here to offer you the most advanced surgical and cancer treatments, grounded in
                    innovative research.</p>

                <p>At the heart of our hospital is you—your healing, your well-being and your hope. You are not just a
                    patient here; you are a valued member of a dedicated team of expert surgeons and cancer specialists,
                    who are committed to supporting you every step of the way. </p>
                <div class="button-group">
                    <p><a href="#" class="button">Button CTA</a></p>
                    <p><a href="#" class="button outlined">Button CTA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>