<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-4 large-4">
      <a class="callout interactive dark-grey with-icon" href="#">
        <span class="fa-stack" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-flag fa-stack-1x fa-inverse"></i>
        </span>
        <h4>Heading</h4>
      </a>
    </div>
  </div>
</div>
