<a href="#" class="event long">
    <div class="date">
        <div class="month">jan</div>
        <div class="day">10</div>
    </div>
    <div class="details">
        <p class="name">Event name here</p>
    </div>
    <div class="arrow"></div>
</a>