{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}

<section class="bleed">
	<div class="grid-container">

		<div class="grid-x grid-margin-x">
			<main class="cell small-12 medium-7 large-8">
      {% include "@components/navigation/breadcrumbs.twig" %}
				<article>
					<h1>New alumni council supports wide range of SHP efforts</h1>
					<ul class="byline">
						<li>By: Kate Hunger; Shared by: Wade Beason</li>
						<li>Friday, January 29, 2021</li>
					</ul>
					<img class="padding-bottom" src="https://picsum.photos/930/420" alt="scenery">
					<p>The School of Health Professions Alumni Council held its inaugural meeting virtually in January.
					</p>
					<p>The council represents the voice of health professions alumni and supports the mission and goals
						of
						the School of Health Professions while serving as an advisory council in conjunction with
						alumni
						initiatives at the school.</p>
					<p>The council’s support extends to advocacy, and volunteer, philanthropic, and faculty and student
						recruitment efforts. During the first meeting, council members shared ideas for engaging alumni
						and
						students, including possible mentorship opportunities.</p>
					<p>“We are thrilled to launch this initiative to explore ways to strengthen engagement and foster
						opportunities for productive partnerships together with our alumni,” said Lindsay Helsel,
						director
						of development for the School of Health Professions.</p>
					<p>Members of the inaugural council are graduates of the school’s programs, including two current
						faculty members.</p>
					<p>They include:</p>
					<ul>
						<li>Kathryn Crane, MOT, 2017</li>
						<li>Tracey Fontenot, BS, PT, 1996</li>
						<li>Carlos Herrera III, MOT, OTR, 2019</li>
						<li>Lynda Jennings, BS, OTR, 1990</li>
						<li>Michael Nash, PT, DPT, LMT, 2019</li>
						<li>Sarah Purcell, MOT, 2018</li>
						<li>Kenneth Queliza, PT, DPT, 2017</li>
						<li>Bridgett Piernik-Yoder, PhD, OTR, 1993, Department of Occupational Therapy chair and
							associate
							professor</li>
						<li>Kristina Ramirez, MPH, RRT, CHES, FCCP, Class of 2012, assistant professor and director of
							clinical education in the Division of Respiratory Care</li>
					</ul>
					<p>The council will hold two meetings each year. Although the current council was appointed,
						subsequent
						members will be elected by the council and they would love to hear from fellow alumni who may
						have
						an interest in sharing their time and expertise in the future. Council members serve two-year
						terms
						and can renew up to three consecutive terms.</p>
					<p>For more information on the council or to learn more about opportunities to support the School
						of
						Health Professions, please visit <a>https://makelivesbetter.uthscsa.edu/health</a> or contact
						<a>helsell@uthscsa.edu.</a></p>
				</article>
				<p class="bold margin-top">Share This Story</p>
				<div class="social">
					<ul>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fas fa-envelope fa-stack-1x "></i>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
							</a>
							</span>
						</li>
						<li>
							<a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
						<li><a href="#">
								<span class="fa-stack fa-lg">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
								</span></a>
						</li>
					</ul>
				</div>
			</main>
			<aside class="cell small-12 medium-5 large-4" role="complementary" aria-labelledby="current-issue">
				
			</aside>
		</div>
	</div>
</section>

{% include "@blocks/footer/cancer-center-footer.twig" %}