<section class="bleed beige">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-middle">
      <div class="cell small-12 medium-8 large-8">

<p class="eyebrow">UT HEALTH SAN ANTONIO MD ANDERSON CANCER CENTER</p>
<h2 class="h3 color">Our mission is to decrease the burden of cancer in San Antonio, South Texas and beyond.</h2>
<div>
      <form class="search">
    <input type="search" class="search-box" placeholder="Search by keyword">
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
</form>
</div>

</div>
</div>
</div>
</section>