{% include "@components/header/header.twig" %}
{% include "@components/navigation/main-nav.twig" %}
<section class="hero bleed img-fill overlay">
  <img src="../../images/specialties-banner.jpg" alt="Hospital">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-middle">
      <div class="cell medium-5 small-12 text-center">
        <div class="hero callout">
          <h1>Specialties</h2>
            <p><a href="#" class="button outlined">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed roomy">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-5 large-5 small-order-1">
        <h2>Unparalleled Cancer Teatments</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p><a href="#" class="button">Cancer Care</a></p>
      </div>
      <div class="cell medium-4 large-4 small-order-2">
        <img src="../../images/cancer-care.jpg" alt="people hugging">
      </div>
    </div>
  </div>
</section>
<section class="bleed beige">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-middle">
      <div class="cell medium-6 large-6 small-order-2 large-order-1">
        <img src="../../images/surgery-1.jpg" alt="surgery center">
      </div>
      <div class="cell medium-6 large-6 small-order-1 large-order-2">
        <h2>Options for Specialized Care</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <div class="arrow-right">
          <ul>
            <li><a href="#">Acute Care Clinic</a></li>
            <li><a href="#">Advanced Surgical Care</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed roomy">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-5 large-5 small-order-1">
        <h2>Clinical Trials</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p><a href="#" class="button">Current Clinical Trials</a></p>
      </div>
      <div class="cell medium-4 large-4 small-order-2">
        <img src="../../images/clinical-trials.jpg" alt="people hugging">
      </div>
    </div>
  </div>
</section>
{% include "@blocks/footer/default-footer.twig" %}