{% include "@components/header/header.twig" %}
{% include "@components/navigation/main-nav.twig" %}
<section class="hero bleed img-fill overlay">
  <img src="../../images/patients-visitors.jpg" alt="adorable pup">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center align-middle">
      <div class="cell large-9 medium-10 small-12 text-center">
        <div class="callout white">
          <h1>Patients & Visitors</h2>
            <p><a href="#" class="button outlined">Contact Us</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12 large-12 text-center">
        <h2>Navigating your Stay</h2>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Preparing for Your Visit</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Patient Notices & Forms</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Financial Services & Calculators</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
    </div>
    <div class="grid-x grid-margin-x margin-top">
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Hospital Map & Parking</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">MyChart Patient Portal</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Patient Check-in</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="bleed beige roomy">
  <div class="grid-container img-bleed-left">
    <div class="grid-x grid-margin-x align-center">
      <div class="cell medium-5 small-12 small-order-1 large-order-1 align-self-middle">
        <h2>Family and Visitors</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <div class="arrow-right">
          <ul>
            <li><a href="#">Find Patient Information</a></li>
            <li><a href="#">Plan Your Visit</a></li>
            <li><a href="#">Hospital Map & Parking</a></li>
            <li><a href="#">Amenities & Accomodations</a></li>
          </ul>
        </div>
      </div>
      <div class="cell medium-4 small-12 small-order-2 large-order-2">
        <img src="../../images/skybridge.jpg" alt="skybridge">
      </div>
    </div>
  </div>
</section>
<section class="bleed color dark-grey">
  <div class="grid-container ">
    <div class="grid-x grid-margin-x space-around align-center-middle">
      <div class="cell small-12 medium-3 large-3">
        <i class="fas fa-heartbeat fa-10x"></i>
      </div>
      <div class="cell small-12 medium-6 large-5">
        <h5>Try our Symptom Checker and Health Library for up-to-date medical information</h5>
      </div>
      <div class="cell small-12 medium-3 large-4">
        <p><a href="#" class="button outlined">Health Library</a></p>
      </div>
    </div>
  </div>
</section>
{% include "@blocks/footer/default-footer.twig" %}