{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}
<section class="hero bleed img-fill full">
	<img src="../../images/programs-banner-DrArora-Exam_2753.jpg" alt="Dr. Arora with patients">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center align-middle">
            <div class="cell large-9 medium-10 small-12 text-center">
                <div class="hero callout">
				<h1>Cancer Care Programs</h2>
				<p>Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center, offers specialized programs for a broad range of cancer diagnoses.</p>
        <p>You receive services from experienced experts with advanced training in specific types of cancer. This approach enables us to treat common and rare cancers using advanced science and leading therapies.</p>
			</div>
			</div>
		</div>
	</div>
</section>
<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">

        <p>Our cancer programs give you access to an exceptional level of care close to home. Your medical team includes trusted oncologists, hematologists, pathologists, surgeons and other specialists. Our long history treating complex conditions means that we offer several treatment options not available everywhere.</p>

</p>As an academic medical center, we actively conduct research to advance cancer treatment. When new therapies become available, Mays Cancer Center is often among the first places you’ll find them.</p>
        <h2>What you need to know about our cancer programs</h2>
        <p>Highlights of our programs include:</p>
        <p><ul>

        <li><strong>Exceptional cancer care:</strong> Our partnership with MD Anderson Cancer Center means you receive an exceptional level of care. We are in regular communication with colleagues at MD Anderson to ensure that you receive the research-based therapies that are right for your needs. Learn more about our partnership with <a>MD Anderson Cancer Center.</a></li>
<li><strong>World-class integration:</strong> With the addition of our UT Health San Antonio Multispecialty and Research Hospital, patients now have access to everything they need, from early detection to targeted therapies and advanced surgeries, in one place. Learn more about the <a>UT Health San Antonio Multispecialty and Research Hospital.</a></li>
<li><strong>National recognition:</strong> The National Cancer Institute (NCI) has recognized our commitment to high-quality cancer care. We are the only NCI-designated cancer center in Central and South Texas. This designation means we are bringing a higher level of care to cancer diagnosis, treatment and prevention. Learn more about our <a>NCI designation.</a></li>
<li><strong>Surgical expertise:</strong> Our team includes highly skilled surgeons who often use advanced technologies to treat complex tumors. These efforts help us safely remove cancer, even in hard-to-reach areas, with less impact on healthy tissue. Find out more about <a>cancer surgery.</a></li>
<li><strong>Commitment to cancer research:</strong> Researchers in our cancer programs are uncovering innovative methods for diagnosing and treating many types of cancer. You may be eligible to participate in these efforts through clinical trials. Explore <a>cancer research and clinical trials.</a></li>
<li><strong>Team approach:</strong> Doctors in our cancer programs often work in teams to carefully plan treatments with a level of coordination that leads to high-quality services.</li>
<li><strong>Partnership in your whole health:</strong> We put extra effort into helping you and your loved ones cope with the practical challenges and emotional effects of a cancer diagnosis. We offer a range of support services that can make living with cancer a little less stressful. Get more information about <a>patient and family services.</a></li></ul></p>
      </main>
      <aside class="small-12 medium-4 large-4 cell">
              <div class="title-bar" data-responsive-toggle="subnav" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
        <div class="title-bar-title">Section Navigation</div>
      </div>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <div class="subnav-title">Cancer Care</div>
        <li><a href="#">Our Cancer Programs</a></li>
        <li><a href="#">Conditions We Treat</a></li>
        <li><a href="#">Cancer Treatments</a></li>
        <li><a href="#">Screening and Diagnosis</a></li>
        <li><a href="#">Cancer Survivorship Program</a></li>
      </ul>    
      </aside>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell medium-6 large-6 small-12 small-order-2 medium-order-1 large-order-1 img-spotlight">
        <img src="../../images/appointment-panel.jpg" alt="mother and daughter looking at cellphone">
      </div>
      <div class="cell callout spotlight beige medium-6 large-7 small-12 small-order-1 medium-order-2 large-order-2">
        <p class="eyebrow">APPOINTMENTS</p>
<h2>Get Cancer Care</h2>
        <p>ake the first steps by visiting our cancer experts for testing, a second opinion or to learn about treatment options.</p>
        <p><a href="#" class="button">Make an appointment</a></p>
      </div>
    </div>
</section>

<section>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center" data-equalizer data-equalize-on="medium">

      <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange" href="#" data-equalizer-watch>
          <h4 class="ruled">Meet Our Team</h4>
          <p>Our team includes cancer experts from different medical specialties who share a commitment to delivering precise, personalized care.</p>
        </a>
      </div>

      <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange align-top" href="#" data-equalizer-watch>
          <h4 class="ruled">Plan your visit</h4>
          <p>Get answers to common questions about visiting the Mays Cancer Center.</p>
        </a>
      </div>

    </div>
  </div>
</section>

<section class="bleed beige">
  <div class="grid-container">
    <div class="small-12 medium-12 large-12 margin-bottom">
      <h2 class="text-center sans-serif">Helpful Links</h2>
    </div>
    <div class="grid-x grid-margin-x space-around align-center">
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-1.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Patients and Families</h5>
          </a>
          <p>Find everything you need to know about our patient care</p>
        </div>
      </div>
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-2.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Doctors and Locations</h5>
          </a>
          <p>Find a Cancer Care Provider or Clinic location here</p>
        </div>
      </div>
      <div class="card cell small-12 medium-3 large-3">
        <img src="../../images/stories-3.jpg" alt="family">
        <div class="card-section">
          <a>
            <h5 class="patient-title">Cancer Care</h5>
          </a>
          <p>Explore all cancer types, treatments, and programs right here</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "@blocks/footer/default-footer-cancer-center.twig" %}