<div class="grid-container">
	<div class="grid-x align-center align-stretch">
		<div class="small-12 medium-8 cell">
			<blockquote class="fancy orange">
				<div class="grid-x align-middle">
					<div class="cell small-12 medium-8">
						<p class="">Add .fancy to a blockquote to invoke this blockquote. Your quotation must be in a p and the
							citation needs to be nested inside the blockquote for it to work.</p>
					</div>
					<div class="cell small-12 medium-4 text-center">
						<img src="../../images/portrait-dog.jpeg" alt="doggy">
					</div>
				</div>
				<cite>Obi-Wan Kenobi, Jedi Master</cite>
			</blockquote>
		</div>
	</div>
</div>