<section class="bleed color orange">
  <div class="grid-container">
    <div class="grid-x text-center align-center factoids">
      <div class="cells large-4 medium-4 small-12 ">
        <p class="supersize">1000+
        <p>
        <p>Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">144
        <p>
        <p> Optional short description pertaining to the number</p>
      </div>
      <div class="cells large-4 medium-4 small-12">
        <p class="supersize">7th
        <p>
        <p>Optional short description pertaining to the number</p>
      </div>
    </div>
  </div>
</section>