<div>
    <p>This is an inline list. Add inline to the ul tag to invoke this power.
	<ul class="inline">
		<li>First Item</li>
		<li>Second Item</li>
		<li>Third Item</li>			
		<li>Lasties</li>
	</ul>
</div>