<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Preparing for Your Visit</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Patient Notices & Forms</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
      <div class="cell small-12 medium-4 large-4 flex-container">
        <a class="callout flex-child-auto">
          <h4 class="ruled">Financial Services & Calculators</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>