{% include "@components/header/header-cancer-center.twig" %}
{% include "@components/navigation/main-nav-cancer-center.twig" %}

<section class="hero left bleed img-fill full">
    <img src="../../images/landing-hero.jpg" alt="husband and wife hugging">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-right">
            <div class="cell large-5 small-12">
                <div class="callout white">
                    <h1>Cancer Survivorship</h1>
                    <p>Mays Cancer Center, home to UT Health San Antonio MD Anderson Cancer Center, provides the services to help you through the physical, emotional and social phases of your survivorship. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <main class="small-12 medium-8 cell">
        <h2>Who are cancer survivors?</h2>
<p>Cancer survivors are people who have been diagnosed with cancer, including those who:</p>

<ul>
  <li>Are ending intensive cancer care and beginning long-term wellness care</li>
  <li>Are living with chronic or advanced forms of cancer</li>
  <li>Have been cancer-free for months or years</li>
  <li>Have completed their cancer treatments</li>
</ul>

<h2>Health needs of cancer survivors</h2>
<p>As a cancer survivor, you may need help to address the effects of the disease and its treatment and improve your health, well-being and quality of life.</p>

<p>The Mays Cancer Center offers you comprehensive clinical services to enhance physical, psychological and social aspects of your life as a cancer survivor. We lead research to better understand the challenges you face and we explore new ways to address them.</p>

<p>Find out more about <a href="#">survivorship care</a> and <a href="#">survivorship research</a> at the Mays Cancer Center.</p>

      </main>
      <aside class="small-12 medium-4 large-4 cell">
      <div class="title-bar" data-responsive-toggle="subnav" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
        <div class="title-bar-title">Section Navigation</div>
      </div>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <div class="subnav-title">Cancer Survivorship</div>
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
        <li><a href="#">Item 5</a></li>
        <li><a href="#">Item 6</a></li>
      </ul>  
      </aside>
    </div>
  </div>
</section>

<section class="bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle align-center">
      <div class="cell callout spotlight spotlight-left medium-6 large-7 small-12 small-order-1 medium-order-1 large-order-1">
      <p class="eyebrow">APPOINTMENTS</p>
<h2>Get cancer care</h2>
<p>To begin care in our cancer survivorship program, talk with your oncologist or health care team about a referral, or call <a href="tel:2104501000">210-450-1000</a></p>
        <p><a href="#" class="button">Make an appointment</a></p>
      </div>

      <div class="cell medium-6 large-6 small-12 small-order-2 medium-order-2 large-order-2 img-spotlight">
        <img src="../../images/appointments.jpg" alt="a patient and doctor talking">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid-container">
    <div class="grid-x grid-margin-x align-center" data-equalizer data-equalize-on="medium">

    <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange align-top" href="#" data-equalizer-watch>
          <h4 class="ruled">Discover leading care</h4>
          <p>Our providers work in collaboration with renowned cancer experts, giving you access to advanced cancer care methods.</p>
        </a>
      </div>

      <div class="cell small-12 medium-4 large-4">
        <a class="callout interactive orange" href="#" data-equalizer-watch>
          <h4 class="ruled">Meet Our Team</h4>
          <p>Our team includes cancer experts from different medical specialties who share a commitment to delivering precise, personalized care.</p>
        </a>
      </div>

    </div>
  </div>
</section>

{% include "@blocks/cards/scrolling-card-panel.twig" %}
{% include "@blocks/footer/cancer-center-footer.twig" %}