<section class="hero bleed img-fill full">
	<img src="../../images/patients-visitors.jpg" alt="adorable pup">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-center align-middle">
            <div class="cell large-9 medium-10 small-12 text-center">
                <div class="hero callout">
				<h1>Patients & Visitors</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				  <p><a href="#" class="button outlined">Contact Us</a></p>
			</div>
			</div>
		</div>
	</div>
</section>