{% include "@components/header/header.twig" %}
{% include "@components/navigation/main-nav.twig" %}
<section class="hero bleed">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-7 small-12">
        <h1>Preparing for Your Visit</h1>
      </div>
    </div>
  </div>
</section>
<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell large-12 small-12 small-order-2 medium-order-2 large-order-1">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="#">Parent</a></li>
          <li><a href="#">Child</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Child
          </li>
        </ul>
      </nav>
    </div>
    <main class="cell small-12 medium-7 large-8 small-order-3 medium-order-2 large-order-2">
      <h2 class="h3">What should I do first?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Sapien eget mi proin sed libero enim sed faucibus turpis. Ultrices neque ornare aenean euismod
        elementum nisi. Eros donec ac odio tempor orci dapibus. Sed viverra tellus in hac habitasse platea dictumst.
        Velit dignissim sodales ut eu.</p>
      <p>Ac orci phasellus egestas tellus rutrum tellus pellentesque. Volutpat odio facilisis mauris sit amet massa
        vitae. Diam quis enim lobortis scelerisque fermentum. Nisi scelerisque eu ultrices vitae auctor eu augue ut
        lectus. Venenatis cras sed felis eget. Suspendisse interdum.</p>
      <div class="grid-x">
        <div class="cell large-10 medium-12 small-12">
          <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item is-active" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 1</a>
              <div class="accordion-content" data-tab-content>
                <p>This is a default accordion</p>
                <p><a class="arrow-right" href="#">Nowhere to Go</a></p>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 2</a>
              <div class="accordion-content" data-tab-content>
                <textarea></textarea>
                <button class="button">I do nothing!</button>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <a href="#" class="accordion-title">Accordion 3</a>
              <div class="accordion-content" data-tab-content>
                Type your name!
                <input type="text"></input>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <aside class="cell small-12 medium-8 large-4 small-order-1 medium-order-3 large-order-3">
      <div class="title-bar" data-responsive-toggle="subnav" data-hide-for="medium">
        <button class="menu-icon" id="subnav-toggle" type="button" data-toggle="subnav"></button>
        <div class="title-bar-title">Section Navigation</div>
      </div>
      <ul class="vertical menu accordion-menu" data-accordion-menu id="subnav">
        <div class="subnav-title">Patients and Visitors</div>
        <li><a href="#">Patients and Visitors Home</a></li>
        <li><a href="#">Patient Support Programs</a></li>
        <li><a href="#">Hospital Map/Parking</a></li>
        <li><a href="#">Preparing for Your Visit</a></li>
        <li><a href="#">Patient & Guest Relations</a>
          <ul class="nested vertical menu">
            <li><a href="#">Staff Recognitions</a></li>
          </ul>
        </li>
        <li><a href="#">Patient Notices & Forms</a></li>
        <li><a href="#">Obtain Medical Records</a></li>
        <li><a href="#">Refer a Patient</a></li>
        <li><a href="#">Virtual Nursing</a></li>
        <li><a href="#">Financial Services & Calculators</a></li>
        <li><a href="#">MyChart Patient Portal</a></li>
        <li><a href="#">Find Care</a></li>
        <li><a href="#">Patient Check-in</a></li>
        <li><a href="#">Find Patient Information</a></li>
        <li><a href="#">Caregiver Support Programs</a></li>
        <li><a href="#">Amenities and Accommodations</a></li>
        <li><a href="#">Plan Your Visit</a></li>
      </ul>
    </aside>
  </div>
</div>
{% include "@blocks/footer/default-footer.twig" %}